.left {
    background-image: url(../images/nicole.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

.intro__title {
    color : white;
    font-weight: bold;
    background-image: url(../images/onews.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 50px;
    width: 100px;
    line-height: 1em;

}